apiVersion: v1
kind: Service
metadata:
  name: {{ include "dentacrm.fullname" . }}-api
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "dentacrm.api.labels" . | nindent 4 }}
spec:
  type: {{ .Values.api.service.type }}
  ports:
    - port: {{ .Values.api.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "dentacrm.api.selectorLabels" . | nindent 4 }}
